Q1. What is a database? Differentiate between SQL and NoSQL databases.

Database is a platform which is used to store the data in any form means structured or unstructured data.

SQL means structure query language-which means we store the data in a structure form like we first define the strucutre of the table 
then we store the data into the tables.
Sql databases-SQl server,Mysql etc.

Nosql- In this we need not to define the structure of the data, we can store the data in any form like text,videos and images etc.
Nosql databases-MongoDb

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL-It means data definiton language which means we defoine the definition of the data or set the structure of the data.
Create is used to create a strucuture of the tables/schemas/views/indexes etc.

Ex-create table abhay(id int,name varchar(2))

Drop is used to drop/delete the table/view/schema etc.

Ex=Drop table abhay;

Alter is used to change the name of the tables/views/indexes/schemas etc.
Ex-
Alter table abhay to abhay1

Truncate is used to clean the table but keep the structure of the table.
Ex-
Trucnate table abhay

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML-it means Data Manipulation Language that is we access the data from different structures may be tables,views or schemas.
Insert is used to insert the data into the table.
Ex-
    insert into abhay values(1,"abhaysingh");

Update is used to update any field of the table.
Ex-
    Update abhay set name="abhaysinghrajpoot" where id =1;
Delete is used to delete the records of the table.
Ex-
delete from abhay where id =1;

Q4. What is DQL? Explain SELECT with an example.

DQL-it means data query language which is used to fetch out the records from the table
Select is used to fetch the records from the table based on the certain condition or not.

    Ex-Select * from abhay;

Q5. Explain Primary Key and Foreign Key.

Primary key is the key constraint in the table which is uniquly identify the records of the tables.It unique and only one for one table,
and can be create by a single column or multiple columns.

Foreign Key -A foreign key is a column or a set of columns in one table that uniquely identifies a row in another table. 
It establishes a relationship between two tables by enforcing referential integrity.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

First we install-mysql connector using below command-
1.Install the MySQL Connector

2.Connect to MySQL and Execute Queries-

import mysql.connector

# Connect to MySQL database
conn = mysql.connector.connect(
    host='localhost',      # Your MySQL host
    user='abhay',   # Your MySQL username
    password='root', # Your MySQL password
    database='abhay'  # Your MySQL database name
)

# Create a cursor object using the cursor() method
cursor = conn.cursor()

# Create a table
create_table_query ='''
CREATE TABLE IF NOT EXISTS Employees (
    EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    HireDate DATE
)'''
cursor.execute(create_table_query)

# Insert data into the table
insert_data_query = '''
INSERT INTO Employees (FirstName, LastName, HireDate)
VALUES (%s, %s, %s)
'''
data = ('John', 'Doe', '2024-08-01')
cursor.execute(insert_data_query, data)

# Commit the transaction
conn.commit()

# Query the data
cursor.execute('SELECT * FROM Employees')
rows = cursor.fetchall()
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
conn.close()


cursor() Method: The cursor() method creates a new cursor object which is used to interact with the MySQL database.
The cursor is used to execute SQL queries and fetch results.

execute() Method: The execute() method executes a given SQL statement. It can be used for various SQL commands like creating tables, 
inserting data, or querying data.

Q7. Give the order of execution of SQL clauses in an SQL query.

Execution Order

1.FROM: table1 and table2 are identified and joined based on ON table1.id = table2.id.
2.ON: Specifies the join condition between table1 and table2.
3.JOIN: The rows from table1 and table2 are combined according to the join condition.
4.WHERE: Filters the combined rows to include only those where column1 > 10.
5.GROUP BY: Groups the remaining rows by column1.
6.HAVING: Filters these groups to include only those where the count is greater than 5.
7.SELECT: Specifies column1 and the count of rows as the result set columns.
8.DISTINCT: (if used) would remove duplicate rows from the result set.
9.ORDER BY: Orders the result set by column1 in descending order.
10..LIMIT: Restricts the result set to the first 10 rows.